<!DOCTYPE html>
<html>
  <body>
    <h2>HTML Forms</h2>
    <p>{{ alert }}</p>
    <form action="/input" method="POST">
      <label for="nama">Nama : </label><br />
      <input type="text" id="nama" name="nama" /><br />
      <label for="alamat">Alamat : </label><br />
      <input type="text" id="alamat" name="alamat" /><br />
      <label for="lname">No telepon : </label><br />
      <input type="text" id="noTelepon" name="noTelepon" /><br /><br />
      <input type="submit" value="Input" />
    </form>
  </body>
</html>
